<label for="{{ attributes.id }}" class="custom-attachment-upload">
  <span class="attachment-choose-file">{{ 'Choose file'|t }}</span>
</label>

<input{{ attributes.addClass('hidden') }} />{{ children }}
