
$icons: (
  // Icomoon Icons
  danger: '\e93b',
  assessment: '\e935',
  demonstration: '\e936',
  exercise: '\e937',
  guide: '\e939',
  lecture: '\e93a',
  plus: '\e938',
  article: '\e92a',
  book: '\e92b',
  business-focused: '\e92c',
  it-focused: '\e92d',
  learning-path: '\e92e',
  module: '\e92f',
  podcast: '\e930',
  video: '\e931',
  checked-calendar: '\e932',
  euro: '\e933',
  lightbulb: '\e934',
  badge: '\e929',
  more-bullets: '\e924',
  education: '\e925',
  labour-force: '\e926',
  ict-professional: '\e927',
  citizens: '\e928',
  email: '\e922',
  world-globe: '\e923',
  calendar-filled: '\e91d',
  like_2: '\e921',
  bell-empty: '\e920',
  message: '\e917',
  user-2: '\e918',
  reply: '\e919',
  paperclip: '\e91b',
  log-out: '\e91c',
  languages: '\e91e',
  comment-2: '\e91f',
  back-arrow: '\e916',
  quote: '\e903',
  profile: '\e914',
  event-calendar: '\e91a',
  bookmark: '\e90f',
  globe: '\e90e',
  like: '\e90d',
  clock: '\e908',
  bell: '\e900',
  calendar: '\e901',
  comment: '\e902',
  location: '\e904',
  remote: '\e905',
  remove: '\e906',
  right-arrow: '\e907',
  check: '\e910',
  keyboard_arrow_up: '\e909',
  keyboard_arrow_right: '\e90a',
  keyboard_arrow_left: '\e90b',
  keyboard_arrow_down: '\e90c',
  menu: '\e913',
  user: '\e912',
  filter: '\e915',
  search: '\e911',

  // Extra Icons
);

