
.content-moderation-entity-moderation-form {
  .entity-moderation-form {
    grid-template-columns: repeat(3, minmax(130px, 1fr));
    display: grid;
    padding-left: 0;

    @include media-breakpoint-down(lg) {
      display: flex;
    }
  }

  .form-item-new-state {
    .select2-container {
      @include dropdown-styling(false);

      .select2-selection__rendered {
        padding-left: 0;
        padding-right: $grid-gutter-width;
      }

      .select2-selection {
        .select2-selection__arrow {
          &::before {
            right: $grid-gutter-width / 4;
          }
        }
      }
    }
  }
}
