<div class="webform-block-wrapper">
  <h2 class="ecl-u-type-heading-2">{{ 'Have any questions?'|t }}</h2>
  <div class="ecl-editor field field--name-body field__item">
    {{ 'Check out our FAQ page maybe your answer is there.'|t }}
  </div>
  <div class="more-link">
    <a href="/faq">
      {{ 'See FAQ Page'|t }}
    </a>
  </div>
</div>
