.ecl-menu__list {
  .cta-button-list-item {
    position: relative;
    padding-left: $grid-gutter-width / 2;

    .ecl-menu__inner--expanded & {
      display: none;
    }

    .header-cta-button {
      @include media-breakpoint-down(md) {
        margin-top: $grid-gutter-width / 4;
      }
      
      display: flex;

      a {
        background-color: $secondary-active;
        padding: $grid-gutter-width / 2.666 $grid-gutter-width / 1.28;
        border-radius: $border-radius-lg;
        font-family: $font-ec-square-medium;
        line-height: 1.2;
        font-size: $font-size-sm;
        color: $body-bg;

        &:hover {
          background-color: $secondary-hover;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .search-class {
    .cta-button-list-item {
      .header-cta-button {
        visibility: hidden;
      }
    }
  }

  .ecl-menu__list {
    .cta-button-list-item {
      display: flex;
      align-items: center;

      &::before {
        @include position(absolute, 15px null 15px 0);

        z-index: 16;
        content: '';
        width: 1px;
        background-color: transparentize($body-bg, .6);
      }
    }
  }
}

