.country-close,
.map-close {
  &:not(.close-country-link) {
    @include media-breakpoint-down(lg) {
      @include position(
          absolute,
          $grid-gutter-width / 4 $grid-gutter-width / 4 null null
      );
      @include icon(remove);
      z-index: 2;
      width: $grid-gutter-width;
      height: $grid-gutter-width;
      line-height: $grid-gutter-width;
      align-items: center;
      justify-content: center;
      background-color: $body-bg;
      border-radius: 50%;
      border: 1px solid $dark;
    }
  }
}

.map-close {
  @include media-breakpoint-down(md) {
    .map-opened & {
      display: flex;
    }

    .info-opened & {
      display: none;
    }
  }

  display: none;
}

.country-close {
  @include media-breakpoint-down(lg) {
    display: flex;
  }

  cursor: pointer;

  &:not(.close-country-link) {
    @include icon(remove);
    @include position(absolute, #{$grid-gutter-width-mobile * 1.875} $grid-gutter-width null null);

    &:hover {
      color: $gray-600;
    }
  }
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: $grid-gutter-width-mobile * 1.5;

  .close-country-link {
    display: inline-block;
    border: 1px solid $primary-hover;
    border-radius: $border-radius-default;
    padding: $grid-gutter-width / 4 $grid-gutter-width-mobile * 1.5;
    font-family: $font-ec-square-medium;
    font-size: $font-size-sm;
    line-height: $line-height-xl;
    color: $primary-hover;

    &:hover {
      border-color: $primary-default;
      color: $primary-default;
    }
  }

  .country-link {
    display: inline-block;

    a {
      @include icon(right-arrow);

      position: relative;
      display: inline-block;
      border: 1px solid $dark-pink;
      border-radius: $border-radius-default;
      background-color: $dark-pink;
      padding: $grid-gutter-width / 4 calc(#{$grid-gutter-width-mobile} * 1.5 + 16px) $grid-gutter-width / 4 $grid-gutter-width-mobile * 1.5;
      font-family: $font-ec-square-medium !important;
      font-size: $font-size-sm;
      line-height: $line-height-xl;
      color: $body-bg;

      &::before {
        @include position(absolute, 50% $grid-gutter-width-mobile * 1.5 null null);

        transform: translateY(-50%);
        font-size: $font-size-xs;
      }

      &:hover {
        border-color: $secondary-hover;
        background-color: $secondary-hover;
      }

      @include media-breakpoint-down(xxs) {
        font-size: $font-size-xs;
        padding: .5rem;
        padding-right: 1.2rem;

        &::before {
          right: .2rem;
          font-size: 10px;
        }
      }
    }
  }
}

.world-map-container {
  @include media-breakpoint-down(md) {
    margin: $grid-gutter-width auto;
    max-width: 320px;
    flex-direction: column;
    padding: 0;
  }

  @include media-breakpoint-down(sm) {
    .leaflet-tooltip.leaflet-zoom-animated.leaflet-tooltip-top {
      visibility: hidden;
    }

    .small-countries {
      .tooltip {
        display: none;
      }
    }

    .active-country {
      font-size: $font-size-xs;
    }
  }

  display: flex;
  flex-direction: row;

  &.info-opened {
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    .map-wrapper,
    .country-info-wrapper {
      @include media-breakpoint-down(lg) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      flex: 0 0 50%;
      max-width: 50%;
    }

    .map-wrapper {
      @include media-breakpoint-down(lg) {
        padding-right: 0;
      }

      padding-right: 12px;
    }

    .country-info-wrapper {
      @include media-breakpoint-down(lg) {
        @include position(absolute, 0);
        z-index: 2;
        overflow: auto;
        padding: $grid-gutter-width / 1.2;
        background-color: $body-bg;
        scrollbar-width: none;
        -ms-overflow-style: none;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      display: block;
      padding-left: 12px;

      .content {
        .content-text {
          a {
            text-decoration-line: underline !important;
            cursor: pointer;
          }
        }
      }
    }
  }

  .map-wrapper {
    @include media-breakpoint-down(md) {
      margin-bottom: $grid-gutter-width * 2;

      .wtmap,
      .wtmap .map,
      .wtmap .wt-map {
        height: 344px;
        min-height: unset;
      }
    }

    flex: 0 0 100%;
    max-width: 100%;
    position: relative;

    .leaflet-container {
      background-color: $map-background;
      min-height: 685px;
    }

    .leaflet-marker-icon.leaflet-interactive {
      text-shadow: -1px -1px 0 $dark, 1px -1px 0 $dark, -1px 1px 0 $dark, 1px 1px 0 $dark;
      color: $body-bg;
      line-height: $line-height-xs / 1.4;

      @include media-breakpoint-down (md) {
        margin-left: $grid-gutter-width-mobile * (-0.75) !important;
        font-size: $font-size-xs / 1.2;
      }
    }

    .leaflet-container path.leaflet-interactive[fill='#ffffff'] {
      pointer-events: none;
    }

    .leaflet-container path.leaflet-interactive:focus {
      outline: none;
    }

    .active-country {
      font-size: 16px;
    }

    .map-tooltip {
      display: flex;
      flex-direction: column;
      background-color: $body-bg;
      color: $gray-650;
      width: 284px;
      padding: 24px;

      div {
        * {
          font-family: $font-family-base;
          font-size: $font-size-sm;
          line-height: $line-height-xl;
          white-space: pre-wrap;

          br {
            display: none;
          }
        }

        ul {
          margin: 0;
          padding: 0;
        }
      }
    }

    .wtfooter {
      display: none;
    }

    .wt-map-content {
      border: 0;
    }

    .small-countries {
      @include media-breakpoint-down(md) {
        padding: 0 5px 16px;
        display: none;
      }

      background-color: $map-background;
      padding: 0 35px 60px;

      &::before {
        content: '';
        display: block;
        margin: 0 auto;
        width: 92%;
        height: 1.47px;
        background-color: $body-bg;
        margin-bottom: 42px;
      }

      .country-svg {
        @include media-breakpoint-down(md) {
          margin-right: 5px;
        }

        @include position();

        display: inline-block;
        position: relative;
        max-height: 100px;
        margin-right: 10px;
        cursor: pointer;

        > span {
          @include position(absolute, 50% null null 50%);
          transform: translate(-50%);
          font-size: 13px;
          text-shadow: -1px -1px 0 $dark, 1px -1px 0 $dark, -1px 1px 0 $dark, 1px 1px 0 $dark;
          color: $body-bg;
        }

        .tooltip {
          @include position(absolute, null null 50% null);
          background-color: $body-bg;
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          color: $gray-650;
          max-height: 296px;
          padding: $grid-gutter-width;
          width: 235px;
          border-radius: $border-radius-sm;
          z-index: 1;

          &::after {
            @include position(absolute, null null -8px 25%);
            content: ' ';
            border-width: 4px;
            border-style: solid;
            border-color: transparentize($body-bg, .1) transparent transparent;
          }
        }

        svg {
          @include media-breakpoint-down(md) {
            max-width: 100px;
          }

          height: auto;
          max-width: 166px;
        }
      }
    }

    .map-toggler {
      @include media-breakpoint-down(md) {
        @include position(absolute, 0);
        z-index: $zindex-dropdown;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        background-color: transparentize($body-bg, .5);

        &Button {
          display: inline-block;
          background-color: $dark-pink;;
          color: $white;
          padding: $grid-gutter-width / 4;
          border-radius: $border-radius-lg;
          font-size: $font-size-md;
          margin-top: $grid-gutter-width * 14;
        }
      }

      display: none;
    }

    &.map-opened {
      @include media-breakpoint-down(md) {
        .small-countries {
          display: block;
        }
      }
      @include position(fixed, 0);
      z-index: 9999;
      background-color: $body-bg;
      padding: $grid-gutter-width / 2;
      display: block;

      .map-toggler {
        display: none;
      }

      .wtmap {
        height: calc(100vh - 220px);
      }

      .wt-map-content .wt-map {
        height: calc(100vh - 220px);
      }

      .map.wt-map {
        height: auto;
      }

      & + .country-info-wrapper {
        @include position(fixed, $grid-gutter-width / 2);
        background-color: $gray;
        border: 1px solid $gray;
        border-radius: $border-radius-lg;
        overflow: auto;
        padding: $grid-gutter-width / 2;
        z-index: 9999;

        .country-container .content p {
          max-height: none;
          overflow-y: visible;
        }
      }
    }
  }

  .country-info-wrapper {
    display: none;

    .country-container {
      @include media-breakpoint-down(lg) {
        padding: $grid-gutter-width-mobile * 1.5 0;
      }

      .title {
        @include media-breakpoint-down(sm) {
          margin-top: $grid-gutter-width-mobile * 1.5;
          padding-left: $grid-gutter-width / 3.2;
        }

        color: $gray-650;
        font-family: $font-ec-square-medium;
        font-size: $font-size-2md;
        line-height: $line-height-xl;
      }

      .progress {
        @include position();

        border-right: 1px solid $blue-25;
        height: 14px;

        &:first-child {
          border-left: 1px solid $blue-25;

          .progress-start {
            left: -1px;
          }
        }

        &-description {
          @include media-breakpoint-down(sm) {
            padding-bottom: $grid-gutter-width-mobile * 1.5;
            padding-left: $grid-gutter-width / 3.2;
          }

          color: $gray-650;
          font-family: $font-family-base;
          font-size: $font-size-base;
          line-height: $line-height-xl;
          margin-top: $grid-gutter-width / 2;
          display: flex;
          flex-direction: column;
          padding-bottom: $grid-gutter-width / 1.6;
          margin-bottom: $grid-gutter-width / 1.6;

          .country {
            &-score,
            &-avg-score {
              span {
                font-family: $font-ec-square-medium;
                font-size: $font-size-sm;
              }
            }

            &-score {
              margin-bottom: 6px;

              span {
                color: $dark-pink;
              }
            }

            &-avg-score {
              span {
                color: $blue-75;
              }
            }
          }
        }

        &-bar {
          @include media-breakpoint-down(sm) {
            margin: $grid-gutter-width $grid-gutter-width / 3.2;
          }

          font-family: $font-family-base;
          font-weight: 400;
          font-size: $font-size-xs;
          line-height: $line-height-xs;
          color: $blue-25;
          margin-bottom: $grid-gutter-width;
        }

        &-dynamic {
          @include position();

          color: $dark-pink;

          .progress-end {
            top: unset;
            bottom: -14px; // height of the progress bar;
            min-height: $grid-gutter-width;
            z-index: 1;

            span {
              top: unset;
              bottom: 100%;
              font-weight: bold;
            }

            .country-number {
              z-index: 1;
              cursor: pointer;
              font-size: $font-size-sm;
              line-height: 1.21;

              .tooltip_score {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: $font-ec-square-light;
                color: $gray-900;
                background-color: $gray-400;
                border-radius: $border-radius * 1.25;
                padding-bottom: $grid-gutter-width / 16;
                top: 0;
                width: 6rem;
                height: 1rem;
                visibility: hidden;
              }

              &:hover {
                .tooltip_score {
                  visibility: visible;
                }
              }
            }

            .pos-right {
              text-align: left;
              left: 0;
              padding-right: 100px;

              .tooltip_score {
                left: unset;
                right: 0;
              }
            }

            .pos-left {
              text-align: right;
              left: unset;
              right: 0;
              padding-left: 100px;

              .tooltip_score {
                left: 0;
              }
            }
          }

          .avg_score {
            border-left: 1.5px solid $blue-75;
          }

          .country-score {
            border-left: 1.5px solid $dark-pink;
          }

          &-avg {
            color: $blue-75;
          }
        }

        &-static {
          display: grid;
          grid-template-columns: 25% 25% 25% 25%;
          column-count: 4;
          grid-template-rows: 20px 20px;
          padding-bottom: 13px;
          margin-left: 7px;
        }

        &-start,
        &-end {
          @include position(absolute, 100% null null);

          min-height: $grid-gutter-width / 2;
          border-left: 1px solid $blue-25;
          display: flex;
          align-items: flex-end;

          span {
            @include position(
              absolute,
              100% null null (-7px)
            );

            display: block;
            padding-top: 4px;
          }
        }

        &-start {
          left: 0;
        }

        &-end {
          right: -1px;
        }
      }

      .content {
        @include media-breakpoint-down(sm) {
          margin: $grid-gutter-width 0;
        }

        position: relative;
        padding: $grid-gutter-width-mobile * 1.5;
        background-color: $body-bg;
        color: $gray-650;
        border-radius: 6px;

        h3 {
          display: flex;
          flex-direction: row-reverse;
          align-items: flex-start;
          justify-content: flex-end;

          margin-top: 0;
          padding-bottom: $grid-gutter-width-mobile * 1.5;
          border-bottom: 1px solid $border-gray;
          line-height: $line-height-xl;
          font-family: $font-ec-square-medium;
          font-weight: unset;
          font-size: $font-size-2xl;

          .flag-icon {
            margin-right: $grid-gutter-width / 2;
            border-radius: 5px;
            border: 1px solid $gray-400;
            width: 31px;
            height: 23px;
          }
        }

        .content-text {
          @include media-breakpoint-down(md) {
            margin-bottom: 0;
            padding-right: $grid-gutter-width / 4;
          }

          overflow-y: auto;
          max-height: 535px;
          margin-bottom: $grid-gutter-width * 1.5;
          padding-right: $grid-gutter-width-mobile * 1.625;
          font-family: $font-family-base;
          font-size: $font-size-base;
          line-height: $line-height-xl;

          &::-webkit-scrollbar {
            width: $grid-gutter-width / 4;
          }

          &::-webkit-scrollbar-track {
            background-color: $border-gray;
            border-radius: $border-radius * 2;
            padding: $grid-gutter-width / 16;
            margin: 0 $grid-gutter-width-mobile * 1.5;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $body-bg;
            border-radius: $border-radius;
            border: 2px solid $border-gray;
            margin: 0 $grid-gutter-width / 3.2;
          }

          ul {
            padding-inline-start: $grid-gutter-width-mobile * 1.5;
          }
        }
      }
    }
  }

  .country-name-tooltip {
    border-bottom: 1px solid transparentize($border-gray, .6);
    color: $gray-650;
    font-family: $font-family-base;
    font-weight: bold;
    padding-bottom: $grid-gutter-width / 2;
    font-size: $font-size-2xl;
    line-height: $line-height-xl;
    margin-bottom: $grid-gutter-width / 2;
  }

  div {
    p {
      font-family: $font-family-base;
      font-size: $font-size-sm;
      line-height: $line-height-xl;
      white-space: pre-wrap;

      br {
        display: none;
      }
    }
  }

  .flag-icon {
    margin-right: $grid-gutter-width / 2;
    border-radius: 5px;
    border: 1px solid $gray-400;
    width: 31px;
    height: 23px;
    vertical-align: middle;
  }

  .map-country-names,
  .country-svg > span {
    font-family: $font-ec-square-medium;
    color: $body-bg;
  }
}
