{%
  set classes = [
  'bef-links',
  is_nested ? 'bef-nested'
]
%}
{% set is_nested = true %}
<div{{ attributes.addClass(classes) }}>
  {% set current_nesting_level = 0 %}
  {% for child in children %}
    {% set item = attribute(element, child) %}
    {% if child in selected %}
      {% set new_nesting_level = attribute(depth, child) %}
      {% set item = item|merge({'#attributes': {'class': 'bef-link-active'}}) %}
    {% endif %}
    {% set new_nesting_level = attribute(depth, child) %}
    {% apply spaceless %}
      {% set delta = (current_nesting_level - new_nesting_level) | abs %}
      {% if loop.first %}
        <ul>
      {% else %}
        {% if delta %}
          {% for i in 1..delta %}
            {% if new_nesting_level > current_nesting_level  %}
              <ul>
            {% else %}
              </ul>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}

      <li>
      <div class="{{ item['#class'] }}">
        <span>{{ item['#name'] }}</span>
        {{ item }}
      </div>

      {% if loop.last %}
        {# Close any remaining <li> tags #}
        {% for i in new_nesting_level..0 %}
          </li></ul>
        {% endfor %}
      {% endif %}
    {% endapply %}

    {% set current_nesting_level = new_nesting_level %}
  {% endfor %}
</div>
