{#
/**
 * @file
 * Default theme implementation of a facet result item.
 *
 * Available variables:
 * - value: The item value.
 * - raw_value: The raw item value.
 * - show_count: If this facet provides count.
 * - count: The amount of results.
 * - is_active: The item is active.
 * - facet: The facet for this result item.
 *   - id: the machine name for the facet.
 *   - label: The facet label.
 *
 * @ingroup themeable
 */
#}
<span class="facet-item__value">{{ value }}</span>
{% if show_count %}
  <span class="facet-item__count">({{ count }})</span>
{% endif %}
{% if is_active %}
  <span class="facet-item__status js-facet-deactivate">
    <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.0901 0.91694C7.85347 0.680308 7.47122 0.680308 7.23459 0.91694L4.26758 3.87788L1.30057 0.910873C1.06394 0.67424 0.681685 0.67424 0.445053 0.910873C0.20842 1.14751 0.20842 1.52976 0.445053 1.76639L3.41206 4.7334L0.445053 7.70041C0.20842 7.93704 0.20842 8.31929 0.445053 8.55592C0.681685 8.79256 1.06394 8.79256 1.30057 8.55592L4.26758 5.58892L7.23459 8.55592C7.47122 8.79256 7.85347 8.79256 8.0901 8.55592C8.32674 8.31929 8.32674 7.93704 8.0901 7.70041L5.1231 4.7334L8.0901 1.76639C8.32067 1.53583 8.32067 1.14751 8.0901 0.91694Z" fill="#170072"/>
    </svg>
  </span>
{% endif %}
