<div class="content content-footer">
  <div class="left-side">
      <div class="count count-comment"><span><a href="{{ comment_form_url }}">{{ comment_count }}</a></span></div>
      <div class="count count-vote"><span>{{ content.flag_voting }}</span></div>
    </div>
</div>