{% set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
] %}
<div class="highlighted-component-wrapper block-dsj-components-wrapper">
  <div{{ attributes.addClass(classes) }}>
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  </div>
</div>
