.view {
  &-content,
  &-comment,
  &-media,
  &-media-library,
  &-moderated-content {
    .js-form-item,
    .form-item,
    .js-form-type-select,
    .form-item-type,
    .js-form-item-type,
    .ecl-form-group,
    .ecl-form-group--select,
    .form-item-action,
    .js-form-item-action {
      max-width: 380px;
      width: 100%;

      .form-select {
        @include dropdown-styling($filter: false);
      }
    }
  }
}

.user-logged-in.path-node .node-form.ecl-form {
  .js-form-type-vertical-tabs {
    width: fit-content;

    .entity-meta.vertical-tabs__panes {
      max-height: 75vh;
      overflow: auto;
      width: fit-content;
      position: relative;
    }
  }
}