$card-spacing: $grid-gutter-width / 4;

.testimonials {
  @include media-breakpoint-down(md) {
    padding-top: $grid-gutter-width * 1.5;
  }
  background: linear-gradient(
    266.5deg,
    transparentize($primary, .2) -6.59%,
    transparentize($purple, .34) 102.17%
  );
  padding: 6.25rem 0;

  &--title {
    @include media-breakpoint-down(md) {
      padding: 0 50px;
      margin-bottom: 20px;
    }

    text-align: center;
    font-size: $font-size-3xl;
    line-height: $line-height-3xl;
    color: $body-bg;
    font-weight: bold;
    margin-bottom: 3.125rem;
  }

  &--container {
    max-width: 860px;
    margin: auto;
    position: relative;

    .slick__arrow {
      @include media-breakpoint-down(md) {
        @include position(null, null 25% (-35px));
        top: unset;
        width: auto;
      }
    }

    .slick-prev,
    .slick-next {
      border-radius: 0;
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      position: absolute;
      top: 50%;
      background: unset;
      appearance: unset;
      cursor: pointer;

      &::before {
        content: '';
      }
    }

    .slick-prev {
      @include media-breakpoint-down(md) {
        left: 0;
      }
      left: -50px;
      border-left: 3px solid $body-bg;
      border-bottom: 3px solid $body-bg;
      border-right: unset;
      border-top: unset;
    }

    .slick-next {
      @include media-breakpoint-down(md) {
        right: 0;
      }
      right: -50px;
      border-right: 3px solid $body-bg;
      border-top: 3px solid $body-bg;
      border-left: unset;
      border-bottom: unset;
    }

    .slick-disabled {
      opacity: .5;
      cursor: default;
    }

    .slick-track {
      min-height: 356px;
      display: flex;
      flex-direction: row;
    }

    .slide {
      height: auto;
      outline: 0;
      padding: 0 5px;
    }

    @include media-breakpoint-down(md) {
      max-width: calc(100% - 20px);
    }
  }

  .paragraph--type--dsj-testimonial {
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
    @include border-radius(6px);
    background: $body-bg;
    display: flex;
    margin-bottom: 15px;
    position: relative;
    height: calc(100% - 16px);

    &::after,
    &::before {
      @include border-radius(6px);
      content: '';
      background-color: $body-bg;
    }

    &::after {
      @include position(absolute, 0 $card-spacing (-$card-spacing));
      opacity: .6;
    }

    &::before {
      @include position(absolute, 0 $card-spacing * 2 (-$card-spacing * 2));
      opacity: .3;
    }
  }

  .testimonial--container {
    @include media-breakpoint-down(md) {
      order: 1;
      padding: 0 $grid-gutter-width $grid-gutter-width / 2;
    }
    @include icon(quote);
    padding: 0 $grid-gutter-width * 1.8 0;
    position: relative;
    z-index: 1;
    width: 100%;

    &::before {
      display: inline-block;
      margin-top: $grid-gutter-width * .85;
      font-size: $font-size-5xl;
      color: theme-color('fourth');
    }
  }

  .testimonials {
    &--field-dsj-image {
      @include media-breakpoint-down(md) {
        order: 2;

        .image-container {
          line-height: 0;
          padding: $grid-gutter-width / 3;
          text-align: center;
        }
      }
      position: relative;
      z-index: 1;
    }

    &--field-dsj-text {
      p {
        @include media-breakpoint-down(sm) {
          margin-bottom: 0;
          margin-top: $grid-gutter-width * .8;
          font-size: $font-size-lg;
          line-height: $line-height-lg;
        }
        color: $blue;
        font-size: $font-size-2xl;
        line-height: $line-height-xs * 2;
        margin: 2.75rem 0 1.5rem;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        min-height: auto;
        overflow: hidden;
        text-align: center;
      }
    }

    &--field-dsj-job-title,
    &--field-dsj-author {
      @include media-breakpoint-down(sm) {
        color: $gray-650;
        font-size: $font-size-sm;
        line-height: $line-height-sm;
      }
      
      text-align: center;
      color: theme-color('fourth');
      font-size: $font-size-2md;
      line-height: $line-height-lg;
    }

    &--field-dsj-author {
      font-weight: bold;
      padding-top: 1.5rem;
    }
  }

  img {
    @include media-breakpoint-down(md) {
      @include border-radius(10px);
      max-width: 100%;
      max-height: unset;
      display: inline-block;
    }
    @include border-radius(4px 0 0 4px);
    max-height: 370px;
    max-width: 275px;
    display: block;
  }

  blockquote {
    margin: 0;
  }
}

.region-after-content-split--wrapper {
  @include media-breakpoint-up(lg) {
    margin: $grid-gutter-width * 2.25 0 $grid-gutter-width * 2.25;
    padding: 0;
  }

  @include media-breakpoint-down(lg) {
    margin: 0 0 $grid-gutter-width-mobile * 2;
    padding: 0;
  }

  /*Columns spacing and titles styling*/
  .ecl-container .ecl-row {
    @include media-breakpoint-between (md, lg) {
      flex-direction: column;
    }

    .ecl-col-m-4 {
      @include media-breakpoint-between (md, lg) {
        flex: 0 0 100%;
        max-width: unset;
      }
    }
  }

  .region-content {
    height: 100%;

    .views-element-container {
      height: 100%;

      .view-display-id-dsj {
        &_two_more, &_latest_two {
          display: flex;
          flex-direction: column;
          height: 100%;
          h2 {
            @include font($font-size-3xl, $line-height-3xl, $font-ec-square-medium, medium, true);
            @include media-breakpoint-down(md) {
              margin-top: $grid-gutter-width-mobile / 2;
              font-size: $font-size-2xl;
              line-height: $line-height-2xl;
            }
          }

          .more-link {
            margin-top: auto;
            padding-top: $grid-gutter-width / 3.2;

            @include media-breakpoint-down(sm) {
              margin-top: 0px;
              padding-top: $grid-gutter-width-mobile * 0.75;
            }

            &::before {
              padding-top: inherit;
            }
          }
        }
      }
    }

    .all-quotes-container {
      height: 100%;
      display: flex;
      flex-direction: column;

      .events-community-quotes--field-dsj-title {
        @include font($font-size-3xl, $line-height-3xl, $font-ec-square-medium, medium, true);
        @include media-breakpoint-down(md) {
        margin-top: $grid-gutter-width-mobile / 2;
        font-size: $font-size-2xl;
        line-height: $line-height-2xl;
        }
      }

      .events-community-quotes--field-dsj-see-more-link {
        margin-top: auto;

        @include media-breakpoint-down(md) {
          margin-top: 0px;
          margin-bottom: $grid-gutter-width-mobile * 3.5;
          padding-top: $grid-gutter-width-mobile * 1.5;
        }
      }
    }
  }

  padding: $grid-gutter-width * 4 0;

  /*Upcoming events calendar*/
  .view-display-id-dsj_two_more {
    @include media-breakpoint-up(lg) {
      padding-right: $grid-gutter-width;
    }

    .node--calendar-listing {
      padding-bottom: $grid-gutter-width / 8;

      .ecl-row {
        @include media-breakpoint-between (md, xl) {
          flex-direction: row;
        }
        .ecl-col-m-4 {
          @include media-breakpoint-between (md, xl) {
            flex: 0 0 33%;
          }
        }
      }

      .icon-location {
        @include icon(globe);
      }
    }

    h3 {
      font-size: $font-size-base;
    }

    .event-date {
      margin-top: $grid-gutter-width-mobile * 1.25;
      zoom: normal;

      @include media-breakpoint-down(sm) {
        margin: $grid-gutter-width-mobile * 1.25 auto 0px;
        width: 65%;
      }

      &--month {
        padding: $grid-gutter-width / 8 0px 0px !important;

        span {
          font-weight: 900;
          font-size: $font-size-xs;
        }
      }

      &--day {
        font-size: $font-size-lg;
        padding: 0px 0px $grid-gutter-width / 16 !important;
      }
    }

    .more-link {
      display: flex;
      justify-content: end;

      a {
        margin-top: $grid-gutter-width-mobile * 1.25;
      }
    }
  }

  /*Quotes*/
  .paragraph--type--dsj-testimonial {
    margin-top: $grid-gutter-width-mobile *(-1.5);

    .testimonials--field-dsj-image{
      height: 110px;
      width: 110px;
      margin: 0 auto;
      position: relative;
      top: 45px;

      &::before {
        content:"";
        background-image: url('../assets/images/yellow-quotes.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 49px;
        height: 52px;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: 85px;
      }

      img {
        border: solid $gray-200 3px;
        border-radius: 50%;
        width: inherit;
        height: inherit;
      }
    }

    .testimonial--container {
      border: $border-gray solid 1px ;
      border-radius: 6px;
      background: $white;
      display: flex;
      flex-wrap: wrap;
      padding: $grid-gutter-width * 2 $grid-gutter-width / 2 $grid-gutter-width / 2;

      .testimonials--field-dsj {
        &-text {
          flex: 0 1 auto;
          @include font($font-size-base, $line-height-base, $font-ec-square-regular, normal);
          padding-bottom: $grid-gutter-width / 2;
          @include media-breakpoint-down (xl) {
            flex: 0 1 100%;
          }
        }

        &-author {
          flex: 0 1 auto;
          @include font($font-size-xs, $line-height-xs, $font-ec-square-regular, normal);
          color: $blue;
        }

        &-job-title {
          &::before {
            content:"|";
            padding-right: 3px;
          }

          flex: 1 1 10%;
          @include font($font-size-xs, $line-height-xs, $font-ec-square-regular, normal);
          color: $gray-700;
          padding-left: 3px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .events-community-quotes--field-dsj-see-more-link {
    display: flex;
    justify-content: flex-end;
    @include media-breakpoint-up (xl) {
      padding-top: $grid-gutter-width / 3.2;
    }

    a {
      @include icon(right-arrow);
      @include font($font-size-base, $line-height-base, $font-ec-square-medium, 500, true);
      color: $blue;
      padding-right: $grid-gutter-width * 0.75;

      &::before {
        position: relative;
        right: $grid-gutter-width * (-2.125);
        font-size: $font-size-xs;
      }
    }

  }

  /*Community activities*/
  .all-community-activities-container {

    height: 100%;

    @include media-breakpoint-up(xl) {
      padding-left: $grid-gutter-width;
    } 


    .dsj-discussion--teaser {
      background: $white;
      padding: $grid-gutter-width-mobile* 1.5 $grid-gutter-width-mobile $grid-gutter-width-mobile /2;
    }

    .content-header {
      margin-bottom: $grid-gutter-width / 2;

      div:nth-child(1) {
        display: flex;
      }

      .started-by {
        display: flex;
        flex-wrap: wrap;

        .hidden-mobile {
          flex: 0 1 auto;
          @include font($font-size-xs, $line-height-sm, $font-ec-square-regular, normal);
          color: $gray-700;
          padding-right: $grid-gutter-width / 8;
          padding-left: 0;
          @include media-breakpoint-down(lg) {
            display: inline;
          }
        }

        .author-picture {
          flex: 0 1 auto;
          @include media-breakpoint-up(xxxs) {
            height: 22px !important;
            width: 22px !important;
          }

          .is-logged-in {
            &::before {
              background-color: $primary-disabled;
              height: 22px;
              width: 22px;
              font-size: $font-size-sm;
              line-height: $line-height-lg;
              position: relative;
              top: $grid-gutter-width * (-1) / 8;
              left: $grid-gutter-width * (-1) / 16;
            }
          }

          .field--name-field-dsj-picture {
            height: 22px;
            width: 22px;

            img {
              height: 22px;
              width: 22px;
              position: relative;
              top: $grid-gutter-width * (-1) / 8;

              @include media-breakpoint-down(sm) {
                min-height: 22px;
                min-width: 22px;
              }
            }
          }
        }

        a {
          @include font($font-size-xs, $line-height-sm, $font-ec-square-regular, normal);
          padding-left: $grid-gutter-width / 8;
        }
      }

      .delimiter, time {
        @include font(11px, $line-height-sm, $font-ec-square-regular, normal);
        color: $gray-700;
        padding-left: 5px;
      }

      span {
        @include font($font-size-xs, $line-height-sm, $font-ec-square-regular, normal);
        color: $gray-700;
        padding-left: 4px;
      }
    }

    .article-header {
      @include font($font-size-base, $line-height-base, $font-ec-square-medium, 500);

      .page-title {
        padding-left: 0px !important;

        a {
          color: $gray-650 !important;
          font-family: $font-ec-square-medium !important;
        }
      }
    }

    .content.content-area {
      padding-left: 0px !important;
      @include font($font-size-sm, $line-height-xl, $font-ec-square-regular, normal)
    }

    .content-footer {
      .left-side {
        justify-content: flex-start;
        @include media-breakpoint-down(md) {
          display: flex;
        }

        .count-vote {
          padding-left: $grid-gutter-width / 4;

          span {
            color: map-get($theme-colors, third);
          }
        }

        .count-comment {
          a {
            color: map-get($theme-colors, third);
          }
        }
      }
    }

    .more-link {
      display: flex;
      justify-content: flex-end;
    }
  }

}