.view-dsj-reports,
.view-dsj-reports-users,
.view-dsj-reports-content-proposal-submissions,
.view-dsj-reports-comments {
  .views-exposed-form {
    @include media-breakpoint-up(md) {
      align-items: flex-end;
      flex-wrap: wrap;
      padding: 0 1.5rem;
    }
    @include border-radius($border-radius-lg);
    background-color: $body-bg;
    margin-bottom: 2rem;
    padding: 1.5rem;
    display: grid;
    align-items: flex-end;
    grid-template-columns: 50% 50%;

    .chosen-choices {
      overflow: auto;
    }

    div#edit-created,
    div#edit-changed,
    div#edit-date {
      display: flex;
    }

    #edit-created-wrapper {
      .fieldset-wrapper {
        @include make-row(0);
        margin-right: $grid-gutter-width / 2;

        .js-form-item-created {
          &-min,
          &-max {
            @include make-col(6);
          }
        }
      }
    }

    > div {
      @include media-breakpoint-up(md) {
        // width: calc(25% - #{$grid-gutter-width} / 2);
        min-width: 50%;
        margin-right: $grid-gutter-width / 2 !important;

        > .ecl-u-mv-m {
          display: flex;
          justify-content: center;
          width: 100%;

          .ecl-form-group {
            align-items: flex-end;
          }

          > .ecl-form-label {
            min-width: 30%;
          }
        }

        > .ecl-button--primary {
          width: 50%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }

        &:nth-of-type(4n + 4) {
          margin-right: 0 !important;
          width: 97%;
        }
      }

      > .form-item {
        margin: 0 !important;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
      }
    }

    .chosen-container {
      height: 50px;
      width: 100% !important;
    }

    .chosen-single,
    .chosen-choices {
      @include border-radius($border-radius-lg);
      height: 100%;
      padding: .25rem .5rem;
    }

    .chosen-single {
      width: 100%;
    }

    input {
      width: 100%;
    }

    .form-actions {
      button {
        height: 50px;
        margin: 0;
      }
    }
  }

  .view-rows {
    @include border-radius($border-radius-lg);
    background-color: $body-bg;
    overflow: scroll;
    padding: 1.5rem 1rem 1rem;
  }

  .wrapper1,
  .wrapper2 {
    overflow: hidden;
    width: 100%;
  }

  .wrapper1 {
    height: 20px;
    display: none;
  }

  .wrapper2 {
    height: calc(100vh - 300px);
    overflow-x: auto;
  }

  .div1 {
    height: 20px;
  }

  .div2,
  .responsive-enabled {
    background-color: $body-bg;
    overflow: auto;
    height: calc(100vh - 300px);
    border-radius: $border-radius-lg 0 0;

    table {
      border-spacing: 0;
    }

    th {
      padding: 0 .5rem 1rem;
      text-align: left;
      color: $body-bg;
      background-color: $gray-100;
    }

    tbody {
      tr:nth-child(even) {
        background-color: $gray;
      }

      tr:not(:last-child) {
        td {
          border-bottom: 1px solid $gray-400;
          max-width: 384px;
          min-width: 136px;
        }

        td.views-field.views-field-title,
        td.views-field.views-field-field-dsj-organization-category,
        td.views-field-webform-submission-value-1,
        td.views-field.views-field-message {
          min-width: 300px;
        }

        td.views-field.views-field-webform-submission-value-4 {
          min-width: 500px;
        }

        td.views-field.views-field-field-dsj-target-language,
        td.views-field.views-field-count {
          min-width: 128px !important;
          text-align: center;
        }
      }
    }

    th,
    td {
      padding: .5rem;
      font-size: $font-size-xs;

      &:views-field-title {
        min-width: 60%;
      }

      &:views-field-type {
        width: 40%;
      }

      &.views-field-created,
      &.views-field-nothing,
      &.views-field-changed {
        white-space: nowrap;
      }
    }
  }
}

.ecl-form-group > :not(.ecl-form-label--hidden) + * {
  margin-top: unset;
}
